<!DOCTYPE HTML>
<html lang="de">
    <head>
        <title>{{ title }} | WAAAGHde</title>
        <meta charset="utf8"/>
        <link href="/styles.css" rel="stylesheet"/>
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <meta name="author" content="Björn 'Idrinth' Büttner" />
        <meta name="description" content="Die alten Inhalte von WAAAGHde wiederhergestellt für Fans von Warhammer Online!" />
    </head>
    <body>
        <div id="header">
            <strong>WAAAGHde</strong>
        </div>
        <div id="nav">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </div>
        <div id="content">